[2013-01-09 09:09] wuub opened #1 "[race condition] net radio won't start w/o appropriate time.sleep() between _direct_sel() calls"

[2013-04-28 00:01] issackelly opened #2 "License?"
Could you add a license to this?
I want to build it into my plumgarage controller[1]
I have the same stereo, and it's one of the first things I wanted to add. Some modifications will need to be made, so I was just going to copy and paste the file; It would be, really rude, and infringing on your (copy)rights for me to do that.

My personal preference is BSD or MIT

[1]https://github.com/plumgarage

[2013-04-28 13:40] #2 closed, assigned to nobody

[2014-03-03 23:09] richbeck2 opened #4 "Unable to use your project!"
I own a Yamaha RXV-473, but when I run your project and try to execute your sample code on the home page, I am met with a python error on line 3:

C:\Users\Richard\Desktop\GIT - RXV project\rxv>python
Python 3.3.4 (v3.3.4:7ff62415e426, Feb 10 2014, 18:13:51) [MSC v.1600 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

I hope you have time to fix this

[2014-03-04 09:03] #4 closed, assigned to nobody

[2014-03-04 20:38] richbeck2 opened #5 "List available inputs not working as described."
When I try to call 'rx.inputs' this is what I get:
![image](https://f.cloud.github.com/assets/6844853/2326002/24682bdc-a3dd-11e3-8e91-854d51ca44c8.png)

Calling: rx.input allows me to set the value to something like "NET RADIO".

P.S. Thanks for the last fix, it seems to be working apart from this. :) :+1:

[2014-03-04 21:29] #5 closed, assigned to nobody

[2014-03-04 21:58] richbeck2 opened #6 "is_ready() throws 'object has no attribute 'next'."
Hopefully this is due to a lack of my understanding or not having the correct package installed:

![image](https://f.cloud.github.com/assets/6844853/2326872/0793d4c4-a3e8-11e3-94c7-0aa42c87a4b1.png)

Please can you help point me in the right direction.

Many thanks,

[2014-03-04 22:05] #6 closed, assigned to nobody

[2014-03-04 22:37] richbeck2 opened #7 "Question: Menu commands return strange values, is this by design?"
When I try menu commands, I am greeted by response codes which look like this:

![image](https://f.cloud.github.com/assets/6844853/2327263/67b3f7a8-a3ed-11e3-87d2-654096882ec5.png)

Is this by design, or should it be simplified to just a bool response for 'True - Ok' or 'False - Something Went Wrong'

[2014-03-24 08:10] #7 closed, assigned to nobody

[2014-04-18 07:03] tlindener opened #8 "Question: Limitation to RXxx3 receivers"
Hi,

I'm quite happy to have found this library since I want to control my Yamaha 771 receiver via python. Now i tried to fiddle around a bit and it seems that most things work quiet well (only SSDP doesn't seem to work). So why exactly is it limited to the newer models only?

Best regards

[2015-11-13 21:52] Filler1971 opened #10 "What I've done wrong or why it will not work?"
Hi,
I've seen your python-project for yamaha rx-v xx3-series for better web control.
But I don't know how to use it.

What I've done:
I've installed python 2.7 on my Win8.1 and then copied your script in Scipt-Folder of Python.
After that I got on command-line "pip install rxv" and message said everythings fine.

Then I looked on my network for my RX-V573 (latest firmware 1.16). Fine, it's there.

[2015-11-16 09:26] wuub commented on #10
@Filler1971 unfortuneately I don't fully understand what you're trying to achieve, . rxv is a python library that in itself does not provide any web interface for Yamaha receivers, it can be used to create one with Python programming language, but nothing more.

Sorry :(

[2015-11-17 13:22] #8 closed

[2015-11-17 13:22] #10 closed

[2016-01-11 22:33] wylieswanson opened #17 "volume setting fails - am I doing something wrong?"
Trying to set volume to 0.0, or -1.0, etc.  increments of .5

Traceback (most recent call last):
  File "monitor.py", line 156, in <module>
    main()
  File "monitor.py", line 131, in main
    monitor.zones[zone]['rx'].volume = 0.0
  File "/home/wylie/.local/share/virtualenvs/sonos_rxv_monitor/local/lib/python2.7/site-packages/rxv/rxv.py", line 223, in volume
    self._request('PUT', request_text

[2016-03-14 00:23] wylieswanson opened #18 "No support for SOUNDPRG"
There is no support for SOUNDPRG?

[2016-03-14 09:21] wuub commented on #18
I'm not even entirely sure what SOUNDPRG even is,  so most likely there is no support for it.

If you need it,  feel free to dive in and add it, we will happily merge it,  rxv's code is not doing  anything fancy,  just concatenating XMLs

[2016-03-14 09:21] #18 closed

[2016-04-28 19:38] torem opened #20 "Yamaha Blu-ray player detected with wrong control url"
rxv detects my Yamaha Blu-ray player, but gets the control url wrong.

As long as Blu-ray players are not supported by the library, they should not be detected.
[code]

[2016-10-14 12:07] sdague opened #21 "Only Main Zone is exposed"
I've got a 2 zone setup that I'd like to get independent control via home assistant, however there is a lot of hard coding of Main Zone in rxv code.

I'm starting to implement an approach here which is a new top level find call that returns an RXV object for each zone discovered. Will push that up once I have something working.

[2016-10-14 13:38] wuub commented on #21
True, there are a lot of hardcoded strings that have MainZone  as substring due to the fact that:
1) our receiver is single zone one
2) when we developed initial version of this lib, we (@jnnt and I) only wanted to put a nice'ish API on top of calls that we reverse engineered from sniffed traffic. But OTOH it should be pretty straightforward to parametrize them with "{zone}/...".

Having separate

[2016-10-14 13:43] sdague commented on #21
Yeh, the paramtrizing isn't bad, I hacked that up last night. How about I hack together something, throw it in a PR, and we can discuss it concretely. Probably take me a couple of days.

On October 14, 2016 9:38:42 AM EDT, Wojciech Bederski <notifications@github.com> wrote:

--
Sean Dague
http://dague.net

[2016-10-14 13:47] wuub commented on #21
Sure thing :)
I'm mostly concerned with backward compatibility and ease of use. As you can probably guess I'm pretty OK with hacky internals when it comes to this paticular lib :)

[2016-10-14 18:26] sdague commented on #21
Ok work in progress patch up there. It's definitely of the quick and dirty variety. Let me know what you think about the direction.

[2016-10-17 17:31] wuub commented on #21
Thanks to @sdague  this is now fixed in 0.2.0

Two access methods are supported
1) using `zones()` to get list of all available zones and then pick one using `.zone = "Zone Name"`
2) using `rx.zone_controllers()` to get a complete list of `RXV` compatible objects. Each of those behaves like (almost) separate receiver :)

Thanks again to @sdague for this feature :)

[2016-10-17 17:31] #21 closed

[2016-10-17 17:31] #17 closed

[2016-10-17 17:34] wuub commented on #20
This library unfortunetely does not plan to support Blue ray players, and because I don't have one this was difficult for me to replicate.

If someone is willing to help, preferably filtering thos BD players out, I will accept it.

[2016-10-17 17:34] #1 closed

[2016-10-17 17:34] wuub commented on #1
This seems to be a `feature` of Yamaha receivers. Nothing we want to mask in rxv.

[2016-10-28 09:03] rawdlite opened #25 "Setting up RXV 2060 fails on ZONE_4"
The Yamaha RX V2060 has a Zone 4 without Mute or Volume (it is HDMI only)
This leads to the request for the mute state to return res.content as b''.
and then:
File "/home/hass/.homeassistant/deps/rxv/rxv.py", line 91, in _request
    response = ET.XML(res.content)
  File "/usr/lib/python3.4/xml/etree/ElementTree.py", line 1326, in XML
    return parser.close()
  File "<string>", line None

=> Erro

[2016-10-28 09:12] wuub commented on #25
@rawdlite thanks for the report. We'll try to fx it but we will probably need your direct help with testing it out on real hardware.
Have you reported this in Home Assistant as well?

Cc: @sdague

[2016-10-28 09:17] rawdlite commented on #25
Sure i will test any fixes.
Just started to look into HA yesterday. Still trying to find my way around in the codebase.
I have not reported this in Home Assistant (yet).

[2016-10-28 09:27] sdague commented on #25
Oh, interesting...

When does this failure happen? During initial setup? Also, could you attach your desc.xml for the system?  (Probably http://ip.of.receiver/YamahaRemoteControl/desc.xml)

We will probably actually need to properly introspect the desc.xml for features on all the zones, and would be useful to see what this one looks like.

[2016-10-28 09:33] rawdlite commented on #25
Happens during initial setup when update() is called.

desc.xml is now  at https://gist.github.com/rawdlite/bd23a2fa108a4459e061d8bb0f034a8f

[2016-10-28 09:34] sdague commented on #25
This is where it's going to be going wrong in HA, there just isn't the idea that a media player doesn't have these things - https://github.com/sdague/home-assistant/blob/c89592af7d09f50fe1006798a77a5f752ce5fb55/homeassistant/components/media_player/yamaha.py#L100-L101

That's going to get run at the end of init (and then also when changes happen later).

We may just want to hide zones that don't h

[2016-10-28 09:40] wuub commented on #25
@sdague if we do capabilities detection right we should be able to modify https://github.com/sdague/home-assistant/blob/c89592af7d09f50fe1006798a77a5f752ce5fb55/homeassistant/components/media_player/yamaha.py#L155 to return correct bitset per zone.

[2016-10-28 09:41] sdague commented on #25
Yeh, there looks like there is nearly no controls on Zone_4 https://gist.github.com/rawdlite/bd23a2fa108a4459e061d8bb0f034a8f#file-rx-v-2060-desc-xml-L1375

vs. Zone_3 (for instance - https://gist.github.com/rawdlite/bd23a2fa108a4459e061d8bb0f034a8f#file-rx-v-2060-desc-xml-L1250)

There are probably 2 options here that make sense.

1) don't bother supporting zones that don't have this basic functi

[2016-10-28 09:43] sdague commented on #25
@wuub heh, posts crossing mid flight with same ideas. :)

@rawdlite the capabilities fix is the right long term one, but it's more complicated, and is going to take a bit.

[2016-10-28 09:44] sdague commented on #25
@wuub we're also going to have to modify receiver.basic_status, that assumes Mute / Volume properties as well.

[2016-10-28 09:50] rawdlite commented on #25
Yes, i can see that.

What about
CONF_ZONE_IGNORE = 'zone_ignore'
for starters?
This might be interesting for users that do not use all Zones.

[2016-10-28 09:55] wuub commented on #25
@rawdlite if you're happy with only  the MAIN_ZONE you can drop Yamaha autodiscovery and specify host manually. No zone detection will be done then, and this bug should not trigger.

[2016-10-28 10:01] rawdlite commented on #25
Actually i have:

- platform: yamaha
    name: 'Living Room Receiver'
    host: 192.168.1.11
    source_names:
      AV1: "PC"
      AV2: "BD"
      AV3: "Raspi"
      AUDIO1: "Mopidi"
      TUNER: "Radio"

yet auto discovery is done.
Anyway i do need Zone_2 and Zone_3.

i probably hack at
https://github.com/sdague/home-assistant/blob/c89592af7d09f50fe1006798a77a5f752ce5fb55/homeassistant/componen

[2016-10-28 10:03] sdague commented on #25
I intergrated generic discovery into Home Assistant recently (though I didn't think it was in a release yet), so you'd also have to turn off the discovery component.

[2016-10-28 10:06] sdague commented on #25
@rawdlite yeh, that would work. I can put together and ignore zones patch for HA now

[2016-10-28 10:07] sdague commented on #25
@rawdlite can you file a Home Assistant bug for me to work against here?

[2016-10-28 10:07] rawdlite commented on #25
sure.

[2016-10-28 10:19] sdague commented on #25
Can you check out that this branch fixes things for you?  - https://github.com/sdague/home-assistant/tree/yamaha_zone_ignore

If so, I'll PR that today.

[2016-10-28 10:23] rawdlite commented on #25
yep, setting it up now.

[2016-10-28 10:33] wuub commented on #25
FYI: I'm attending PyCon.CZ until late Sunday it's going to be difficult
for me to test stuff on real hardware until Monday :(

On Fri, 28 Oct 2016, 12:23 rawdlite, <notifications@github.com> wrote:

[2016-10-28 11:04] rawdlite commented on #25
No sure i did the setup right:
- checked out branch
- created new vitualenv
- script/setup
- added ignored zone to configuration.yaml

i get:
[code]

and

[code]

[2016-10-28 11:23] sdague commented on #25
Yeh, my bad, I'm working on an update now

[2016-10-28 11:36] sdague commented on #25
Do a force pull on that branch again, it should be working now.

[2016-10-28 12:03] rawdlite commented on #25
Yes that looks good. Component is set up now.
Unfortunately i see errors when changing volume or source.
Will investigate further and report back later.

[2016-10-28 12:33] sdague commented on #25
It is possible that the interface for this receiver changed enough that the code we have doesn't work with it. Probably worth logging the request / response out of the actually POST calls through requests.

Power and Volume control look the same between your desc.xml and the one I've got for my receiver. So volume is really the one that would be worth figuring out first.

[2016-10-28 19:50] rawdlite commented on #25
i don't know whether this is related or not, but i checked against your dev branch and i only see the following error with the yamaha_zone_ignore branch.
When changing volume for the first time i get:

Exception in thread Thread-7:
Traceback (most recent call last):
  File "/usr/lib/python3.4/threading.py", line 920, in _bootstrap_inner
    self.run()
  File "/home/hass/.homeassistant/deps/netdisc

[2016-10-28 19:53] sdague commented on #25
That should not actually be related. That just means the upnp discovery isn't working for your yamaha unit. That's probably only happening cooincidentally in time, because the upnp discovery takes about 15 - 20 seconds from boot to get results back and feed them to Home Assistant.

It might be an interesting thing to fix, but given that you specified the unit fully, it's not actually important her

[2016-10-28 19:56] rawdlite commented on #25
OK, thanks for the quick fix then.

[2016-11-05 19:55] Kernald opened #27 "Support volume attenuation"
On some models at least (I have an rx-v579), mute has three states: `On`, `Off` and `Att -20 dB`. I don't know exactly how it could be handled, but in home-automation context, it could be really useful (attenuate sounds when a phone call/notification is incoming…).

[2016-11-08 10:21] wuub commented on #27
I'll take a look :)

[2016-11-10 14:20] wuub opened #31 "Review rxv.py and refactor"
TODO:
 - [ ] tasks here
 - [ ] and here

[2016-11-10 16:30] sdague commented on #31
Here are some random ideas on breaking up the code a bit. They might be a bridge too far in refactoring.

1) The long list of command strings that are just at the beginning of the file could be turned into small class objects, in a dedicated file.

For instance:

[code]

Then calling code would look like:

[code]

We could have a PlayGetResponse class that's responsible for the parsing (and also a

[2016-11-10 16:31] sdague commented on #31
Also, totally random bonus points if someone cracks the yamaha icon format that exists as part of the status. There is definitely a bitmap in there somewhere, as it's how both the app and the TV ui display an icon for net radio stations.

[2016-11-12 13:45] sdague commented on #27
My guess is that it's the Volume,Scale method (based on what's in the v579 desc.xml that's not in my v675 desc.xml) https://github.com/sdague/rxv/blob/aaa1905a677afbc3660b1b05a520606b0de8a695/tests/samples/rx-v579-desc.xml#L519

Over the API it looks like it does this with a variable for the scaling - https://github.com/sdague/rxv/blob/aaa1905a677afbc3660b1b05a520606b0de8a695/tests/samples/rx-v579

[2016-12-02 13:20] torem commented on #20
Perhaps not the most elegant solution, but you could simply filter supported devices by model_name.startswith("RX-")? And whatever prefix the Aventage models use, I suppose those work as well.

[2017-01-08 20:05] Kernald opened #35 "Volume setter fails when passed a value not ending with .0 or .5"
For some receivers if not all, volumes steps are 0.5dB: you can set -45dB, -45.5dB, but not -45.4dB. However, you *can* call the volume setter with arbitrary values like -45.4. It ends up in a failure and volume not being set:
[code]

I guess the [volume setter](https://github.com/wuub/rxv/blob/master/rxv/rxv.py#L422) should ensure the computed value is a multiple of 5, or take the closest multipl

[2017-02-05 08:07] diplix opened #37 "RX V581 zone naming issue — no zone discovery"
the rx v581 seems to have a strange naming pattern for it’s zone b:

`<Menu Func="Unit" Title_1="System" YNC_Tag="System">`
...
`<Menu Func="Subunit" Title_1="Main Zone" YNC_Tag="Main_Zone">`
…
`<Menu Func="Subunit" Title_1="Zone B" YNC_Tag="Main_Zone">`

basically the `YNC_Tag` that is used by `rxv` to determine zones is the same for the main zone and zone b, they can only be identified by `Title

[2017-02-08 08:30] diplix commented on #37
of course changing zone discovery to `Title_1` doesn’t help at all, since, i guess, addressing `Zone B` doesn’t really work. however yamaha themselfes figured out a way of displaying both zones and also addressing them separatly. this is a screenshot from the MusicCast app, that correctly identifies both zones of the RX V581 and let’s me turn off and on both separatly, while rxv displays both with

[2017-02-28 08:08] diplix commented on #37
[i worked around the issue](https://community.home-assistant.io/t/working-around-mafunctioning-zone-b-discovery-for-yamaha-rx-v581-receiver/12830) with two home assistant command line switches.

[code]

[2017-02-28 22:09] indigodomo opened #39 "RX-V473 won't turn on (or be discovered, etc) when off"
I just wanted to verify that when you turn off the RX-V473 (either via the library or the power button on the front), it is in fact completely off. It's not responding to SSDP, it won't respond to a turn on command, etc. I find this surprising behavior for a relatively modern amp, but that's what I'm seeing with mine. Is there perhaps a setting or something that I'm missing?

[2017-02-28 22:19] indigodomo commented on #39
Found a setting that seems to work (net standby).

[2017-02-28 22:19] #39 closed

[2017-04-07 11:19] tari opened #40 "Crash on detecting N560"
I have a CRX-N560D on my network that crashes rxv when trying to detect devices because it doesn't define a `controlURL` or `unitDescURL`. `ssdp.rxv_discover` fails when it tries to take the text content of these elements that don't exist.

A simple workaround is to check whether the calls to `xml.find` succeed and bail out without throwing an exception if they fail. That said, I'd prefer to add s

[2017-10-09 14:18] sdague commented on #35
What model is this an issue for?

[2017-10-09 14:24] Kernald commented on #35
It occurs at least on a rx-v579. I don't have any other models to test on, but someone mentioned on the home-assistant issue that the newer rx-v581 was also impacted.

[2017-10-09 15:22] wuub commented on #35
Fixed by @sdague

[2017-10-09 15:22] #35 closed

[2017-10-18 14:26] blautob opened #43 "Selecting Internet Radio on Home Assistant"
Is there anyway that the selection of an Net Radio station (as it is implemented here already) can be used in Home Assistant as well?

[2017-11-14 10:28] HerrHofrat commented on #43
I think that you have more success when you ask these kind of questions in the home-assistant community. I started a thread for it: https://community.home-assistant.io/t/yamaha-avr-netradio/32524

[2017-11-15 09:24] gicmo opened #45 "RX-V679, output throws exception"
[code]

[2018-01-07 12:07] eudoxos opened #47 "Working: R-N500 (mention in docs)"
Hi, thank you for this great code :) You can mention that the R-N500 model works fine, based on non-extensive testing of mine (discovery, input selection, getting/setting volume, volume fading). All the best, v.

[2018-01-31 22:10] wuub opened #49 "Scene selection is broken"
Current code fails due to formatting issue, but also scene names are somehow wrong.

[2018-02-14 15:35] swobspace opened #50 "rxv.py / play_status depends on Playback_Info, but not all sources have it."
In Homeassistant I get always errors on rxv#play_status if source is TUNER. TUNER has no Playback_info, but play_status depends on it. Seems like bug. In line 434 play_status checks for Play_Info, but not for Playback_Info:
[code]
I added temporarily the following lines:
[code]
This works for me. My Receiver is a Yamaha RX-475.

[2018-02-14 15:50] wuub commented on #50
Would you be willing to put it into a Pull Request? :) I'll be happy to merge it

[2018-08-13 11:44] mihalski opened #51 "MAC address or some sort of unique ID?"
Hi,

Home Assistant is adding support for unique id's to devices and I was wondering if there are any sort of unique ID's available via the API? If not, is there a way to get the MAC address via this library?

Thank you for your work on this library. I use it daily via Home Assistant.

Regards,
Michal

[2018-08-21 07:32] mischuh commented on #50
Here you are... :) https://github.com/wuub/rxv/pull/52

[2018-10-15 17:38] Adi146 opened #53 "surround_programs not working on RX-V473 and RX-V479"
function returns false instead, but the function in the scenes_and_surround branch is working fine.

[2018-11-09 02:13] konetzed opened #54 "rx-v3900 volume control different"
I think the only issue I have found no the RX-V3900 with firmware 1.25 is volume is different

Currently, rxv sends the following

`<YAMAHA_AV cmd="PUT">
  <Main_Zone>
    <Volume>
      <Lvl>
        <Val>-200</Val>
        <Exp>1</Exp>
        <Unit>dB</Unit>
      </Lvl>
    </Volume>
  </Main_Zone>
</YAMAHA_AV>`

This causes a 400

using mitmproxy I discovered the XML should be

`<YAMAHA_AV cm

[2018-11-15 02:47] pfischbach commented on #54
Trying the same with RX-V3900. Same issue.
konetzed is the SSDP working for you?
receivers = rxv.find() does not work for me.
Any idea?

[2018-11-15 16:23] konetzed commented on #54
@pfischbach I have two other Yamaha receivers and find worked w/o issue until I put the RX-V3900 on the network.  I had previously forgotten to cable it back up after moving it.   I have not had time to dig into that issue yet.

I believe it was also mute did not work correctly and needed to be changed from Volume to Vol.  Not at the computer with the code on ATM so I am not 100% sure.  I am think

[2019-03-06 12:21] besi opened #58 "net_radio won't work if a station is already playing."
When I attempt to change the radio station using the `net_radio` command, I can only set a station once, then it is stuck at that current station.

**OK**: Radio Paradise is playing.

**Problem**: The station does not change.

When I press the Left button on the physical remote all the way back to "Bookmarks" and then attempt to call net_radio then it will work fine.

So I guess the menu has to be

[2019-03-06 12:38] besi commented on #58
`menu_left()` is not the same as `menu_return()` even though the left key works on my physical remote.

So when I go back in the menu structure manually I can achieve the desired result:

    rx.net_radio('Bookmarks>_BesisBest>Radio Paradise')
    rx.menu_return()
    rx.menu_return()
    rx.menu_return()
    rx.net_radio('Bookmarks>Italia>Radio Italian Music')

I would suggest that the `net_radio

[2019-05-14 18:39] schneekluth opened #59 "best way to debug rxv.find()?"
I've been using your great library with homeassistant for 2 years. From one day to another my receiver (rx-v577) is no longer discovered. I tried the following with Python 3.5.3:
[code]
Afterwards I followed the instructions from the README.md:
[code]
after the last command nothing happens. It's just stuck and when I hit CTRL+C to abort it prints:
[code]
It's a rather strange issue because if I cr

[2019-05-16 04:02] schneekluth commented on #59
I did a fresh install of homeassistant and the network receiver is now detected properly.

[2019-05-16 04:02] #59 closed

[2020-01-20 10:08] cloom opened #62 "HDMI inputs report False to Playback supported but they actually can over CEC"
Hello,

I am using HomeAssistant which is using this library for Yamaha Media Players but I cannot use the media buttons as the library reports the HMDI input as "is_playback_supported" is returning False.

"is_playback_supported" is checking the "desc.xml" from the Receiver but none of the HDMI sources will show up in this file, even if they have a CEC enabled device connected to it.

Could this

[2020-01-20 11:36] Twanislas commented on #62
Hi !
I'd like to see this happen as well, thanks !

[2020-02-22 11:47] Petro31 opened #63 "No way to select surround program "Straight"."
It doesn't appear to come through in the xml response.  It's equivalent to 'no surround program' and it's available on all yamaha receivers.  Unless I missed something in the api, it's not possible to set 'no surround program'.

[2020-05-13 12:52] Flameeyes opened #64 "Input titles not exported"
I noticed that Home Assistant requires explicit mappings of input, despite at least RX-V475 supporting input rename on the receiver side.

[code]

[code]

[2020-05-13 17:00] Flameeyes commented on #64
Ah nevermind I think I found where the problem is on the Home Assistant side, might invest some time on that. I was confused by rxvc using a very old version anyway.

[2020-06-07 10:44] StevusPrimus commented on #53
Hi, is there any reason why the scenes_and_surround branch is not merged back? Can I support somehow?

[2020-08-28 21:21] sredna commented on #51
It would be great if this could be fixed so that Home Assistant does not get confused if the receivers IP changes.

There should be plenty of information available in the ssdp reply. You have the uuid and if that is not stable (I did not test) my receiver (RX-A1030) also provides what looks to be unique values for "SerialNumber" and "UPC".

[2020-08-29 21:39] sredna commented on #63
/YamahaRemoteControl/desc.xml has the Straight option in a different place for some reason:

[code]

but the HTML interface includes it in its selection:

[code]

This is from a RX-A1030. I suppose rxv should artificially add the straight program or at least have a way to not change the program as suggested by OP.

[2020-10-24 13:04] slyoldfox commented on #63
Also seeing this on a RX-A2010.

Setting it "on" is called with:
`<YAMAHA_AV cmd="PUT"><Main_Zone><Surround><Program_Sel><Current><Straight>On</Straight></Current></Program_Sel></Surround></Main_Zone></YAMAHA_AV>`

Turning it "off" calls:
`<YAMAHA_AV cmd="PUT"><Main_Zone><Surround><Program_Sel><Current><Straight>Off</Straight><Sound_Program>Hall in Munich</Sound_Program></Current></Program_Sel></S

[2020-12-10 00:02] borski opened #67 "Not working with RX-V6A/TSR-700 receiver"
Hi! For some reason, `rxv` doesn't seem to work with the RX-V6A receiver. Is this a known issue?

[2020-12-27 14:18] karia001 opened #68 "rx-v2020 not working after a few days"
i have the problem that after a while the receiver is not reporting is state to HA anymore, reveiver stays pingable and is working fine from the app on the phone, only HA does not work anymore
is see in the logs the following
[code]
after restarting HA it starts working again

[2020-12-27 18:48] RestOp commented on #68
I confirm, same thing...

[2020-12-27 18:49] RestOp commented on #68
Here are some more infos about issue
https://community.home-assistant.io/t/yamaha-receiver-official-intergration-works-1-2-times-and-then-looses-control-update-problem/245121?u=thisio

[2020-12-31 21:56] rdgerken commented on #68
I have the same issue with RX-A3080.  I'm willing to help troubleshoot!

[2021-01-05 17:28] esev commented on #62
I encountered the same issue. It impacts the menu cursor keys too. Would anyone be able to test #69? For HA (docker), I've been testing by directly modifying the python package (`/usr/local/lib/python3.8/site-packages/rxv/rxv.py`).

With #69 & https://github.com/home-assistant/core/pull/44819, I was able to add a HA card and successfully control the HDMI devices.
![Screenshot 2021-01-05 at 9 24 25

[2021-01-08 21:32] cloom commented on #62
Hello Eric,

Big thanks for looking into this and I love the idea of having a remote! I have to admit I am not sure how to push your commit into HA to test.

I believe we need to:
- get this great rxv library updated as HA depends on it,
- then request HA to use the new library
- and only then a request can be made to modify a component in HA.

Nevertheless, if that worked in HA the "dirty" way I

[2021-01-16 17:22] rdgerken commented on #68
I'm not sure the root cause yet... but it seems to be an invalid response (like an empty response) from the receiver, and perhaps an unhandled expat exception that is causing it to disconnect unrecovered from HA.  I see the try block at line 147 only handles a parse error, not an expat error.  Could this be the issue?  Do we need to have an error handler for all other exceptions in this try block

[2021-01-19 13:45] wuub commented on #67
Does it work w/ the official app https://play.google.com/store/apps/details?id=com.yamaha.av.avcontroller&hl=en&gl=US?

[2021-01-19 16:32] borski commented on #67
Yes, works without an issue using the Yamaha app

[2021-01-19 21:52] #51 closed

[2021-01-19 22:40] wuub commented on #68
I just reconnected my own Yamaha after almost 8 months.
I'll keep an eye out to see if this happens on my end

[2021-01-19 22:45] rdgerken commented on #68
I did some testing on this to see if adding additional error handling would work, and I do not think it does.  To reproduce the issue, I had everything connected, and it worked as expected.  I manually broke the network connection (by unplugging upstream switch) - this caused my error handler that I added to catch a "Connection aborted" error.  After this, I plugged the AVR back into the network,

[2021-01-19 22:51] wuub commented on #67
I assume you've tried to set it up in Home Assistant.

Can you try:
1) Checking if discovery works
[code]

2) Checking if manual control works
[code]

[2021-01-19 22:54] wuub commented on #68
Thank you @rdgerken this could actually help in tracking this down.
After reading what you said I have my suspicion https://github.com/wuub/rxv/blob/main/rxv/rxv.py#L106

[2021-01-19 23:03] wuub commented on #47
thanks :)

[2021-01-19 23:03] #47 closed

[2021-01-19 23:42] borski commented on #67
It does not, and visiting `/YamahaRemoteControl/ctrl` in a browser returns a 400 Bad Request :(

[2021-01-20 00:30] borski commented on #67
When I hit `http://192.168.1.xxx:49154/MediaRenderer/desc.xml` it spits out the following possibly relevant xml (snipped for relevancy)

[code]

and heading to `http://192.168.1.xxx/YamahaExtendedControl/v1/` gets me a 200 with the following JSON response:
[code]

No idea what this means or if it's helpful, but figured it might be?

[2021-01-20 10:21] wuub commented on #67
It looks like the receiver is using the same control mechanism and it will be possible to solve this.

Please try the 2nd way of manually instantiating rxv object, it should work (at least partially)

If so, we can then work on testing why SSDP discovery is broken

[2021-01-20 17:07] borski commented on #67
Oh, it does actually work! It didn't previously but it seems to be now!

[code]

SSDP discovery doesn't work:
[code]

[2021-01-20 19:10] wuub commented on #58
I just did some tests using mitmproxy and the official app.
The official app does not seem to provide any way to reset the stateful position inside the net radio tree.

However:
[code]
Menu_Layer looks promising. We could try to parse it out and reset menu position.

[2021-01-20 19:11] wuub commented on #58
<Menu_Layer>1</Menu_Layer> is the top one BTW :)

[2021-01-20 19:33] #58 closed

[2021-01-20 20:59] #43 closed

[2021-01-21 22:35] esev commented on #68
@rdgerken by any chance, did the IP address of the receiver change when it was plugged back into the network?

[2021-01-22 00:50] esev commented on #68
It doesn't look like the `self._session.post` call inside of `_request` is setting any timeout. I wonder if the exception is a side effect of something else happening. Could it be that the session http request pool is full and is not accepting any more requests?

I wonder if adding a `timeout=60` argument to `self._session.post` would clear up the problem. Can someone who is having the issue test

[2021-01-22 00:52] rdgerken commented on #68
The IP address is statically assigned on my receiver, so it should not have changed.

Thanks!

[2021-01-22 01:23] esev commented on #68
Are folks seeing this error message in the HomeAssistant logs also, or just the exception error message?

`Updating yamaha media_player took longer than the scheduled update interval 0:00:10`

I can fairly reliably get my HA instance to stop working with the receiver now. When it gets into that state I see the error message above every 10 seconds or so.

[2021-01-22 01:25] rdgerken commented on #68
Yes, I see this repeatedly and infinitely until I restart HA - after I get the invalid XML returned message in my earlier post.

[2021-01-22 01:36] esev commented on #68
Thanks for confirming. Just wanted to make sure I was solving the same issue and not a new one. Adding the timeout=60 parameter fixes the issue for me. I'll send a PR shortly.

[2021-01-22 01:41] rdgerken commented on #68
OK great!  I'll give that a shot once I see the change.  Thanks very much for helping with this!

[2021-01-22 01:48] esev commented on #68
You're welcome. Thanks for all the debugging information! That's what lead me toward the fix in #76.

[2021-01-22 03:06] esev commented on #67
I've also had issues with discovery. When there are multiple network interfaces the discovery packets seem to go out the first interface only. @borski do you have multiple network interfaces in the computer that you're testing on?

If that's the issue, if can be solved by sending discovery requests on each interface. Something like this:
https://github.com/pavoni/pywemo/blob/e375e12f4901461b02ceb0

[2021-01-22 03:09] borski commented on #67
Yes, but the raspi doesn't, unless I'm mistaken? aka Home Assistant should be able to do the discovery just fine.

[2021-01-22 03:20] borski commented on #67
@esev I made the change, locally, to force it try each interface; that isn't the issue. Good thought, though!

[2021-01-22 14:00] wuub commented on #67
Can you look if discovery is working

[code]
and check if the IP of your receiver comes up.

[2021-01-22 16:38] #68 closed

[2021-01-22 18:53] #62 closed

[2021-01-23 07:29] jschmer opened #79 "surround_program getter raises AssertionError when direct mode is not supported"
^

[2021-01-23 09:47] jschmer commented on #63
Probably fixed with #75

[2021-01-25 13:27] Petro31 commented on #63
I'll test this out when it get's pushed to Home Assistant.  When that happens, I'll close this Issue out.

[2021-01-25 18:45] #79 closed

[2021-01-26 07:28] jschmer commented on #63
You can test with 0.7.0rc2, see https://github.com/wuub/rxv/releases/tag/v0.7.0rc2

[2021-01-28 07:53] this-amazing-amy commented on #67
I have the same receiver and the same problems with discovery in HA. I tried discovery via `ssdpy-discover` and it showed up:
[code]
Don't know if that helps!

[2021-01-29 04:36] esev commented on #67
@PygmalionPolymorph could you try these three also?

[code]

`upnp:rootdevice` seems to be what is being used for the rxv library.
https://github.com/wuub/rxv/blob/da90b758da6e1cd5082bd8931f183662e54b1903/rxv/ssdp.py#L21-L27

[2021-01-29 04:50] esev commented on #67
FWIW, my RX-V577 responds to `upnp:rootdevice`, `urn:schemas-upnp-org:service:RenderingControl:1` and `urn:schemas-upnp-org:device:MediaRenderer:1`.

[2021-01-30 14:44] this-amazing-amy commented on #67
[code]
I am getting responses for all 3 of those.

For completeness i tried to run discovery and manual control through `rxv`. Manual control worked:
[code]
But discovery didn't work, but unlike @borski i got an error:
[code]
The error message also looks similar to the one i originally got inside Home Assistant:
[code]

[2021-01-30 21:35] esev commented on #67
@PygmalionPolymorph Ah! progress :) Thanks for these updates!

Looks like maybe the desc.xml response doesn't contain all the elements that rxv is expecting.

What happens if you modify rxv a bit? Change these lines:

https://github.com/wuub/rxv/blob/da90b758da6e1cd5082bd8931f183662e54b1903/rxv/ssdp.py#L91-L92

To something like this:

[code]

Could you post the response from `http://192.168.1.101

[2021-02-01 19:09] slyoldfox opened #81 "net_radio almost works on RX-A2010 on 0.7.0rc2"
@wuub
After your changes for #58 I went ahead and tried 0.7.0rc2 on my RX-A2010

It failed with some errors, I'm not an expert in python so I can't really send a PR but I'm sure I have enough info for you to fix it quickly. This was the main error after executing

[code]

[code]

The call for
[code]

responds on this system with:
[code]

In this receiver, there is no `Menu_Status`. I hacked it on

[2021-02-03 00:05] esev commented on #81
@slyoldfox having the portion of the desc.xml that relates to the net radio feature would be helpful.

Look for the part that contains [YNC_Tag="NET_RADIO"](https://github.com/wuub/rxv/blob/da90b758da6e1cd5082bd8931f183662e54b1903/tests/samples/rx-v675-desc.xml#L1757), then find the very next occurrence of [Menu Func="Cursor"](https://github.com/wuub/rxv/blob/da90b758da6e1cd5082bd8931f183662e54b19

[2021-02-03 13:47] slyoldfox commented on #81
This should give you all you need:

[code]

basically:

[code]

[2021-02-11 03:46] william57m commented on #67
More or less the same issue with the RX-V4A, however I'm even not able to instantiate RXV manually the API `/YamahaRemoteControl` doesn't work at all although it is returned in `/MediaRenderer/desc.xml`
Looks like the command are going through `/YamahaExtendedControl`

[2021-02-11 04:02] william57m commented on #67
Same issue for me, I have a RX-V4A.

It fails here https://github.com/wuub/rxv/blob/main/rxv/rxv.py#L137

`http://192.168.2.148:80/YamahaRemoteControl/desc.xml` doesn't returns anything.

I have been able to make it work in HA by changing the `unit_desc_url` to `'http://192.168.2.148:49154/RenderingControl/desc.xml`
and returning `self` in `def zone_controllers` as it is not able to find the sub u

[2021-02-11 20:13] william57m commented on #67
@esev here is the result of `http://192.168.2.148:49154/MediaRenderer/desc.xml`, I don't see the unitDescURL

[code]

[2021-03-19 03:44] esev opened #84 "Maintaining rxv?"
Hi @wuub,

Would you be interested in some assistance with maintaining the rxv project? I'm happy to help in any way that I can.

[2021-03-27 01:10] Daenara opened #85 "Bug in server function"
Firstly, I have to say thank you very much for your work. I found this today in basically my last attempt to get my receiver to play a specific playlist. Maybe I should have added python to my search a year ago and spared me quite a few hours of frustrations.

So as soon as I found this I started looking at the code and found the server function which is pretty much exactly what I need and behind

[2021-03-27 03:50] Daenara commented on #85
I wrote a fix and made a pull request. Not sure if I can link it myself, I am a noob at using github so here is the link:

[Pull request](https://github.com/wuub/rxv/pull/86)

[2021-04-15 13:55] lbek commented on #54
I would really like to get this bug fixed so I can use home assistant to get and set the volume of my receiver (it's cheaper then buying a new receiver 😬)

[2021-04-19 09:02] Wiggum127 opened #87 "Yamaha integration - invalid XML error"
I'm not sure you already get this information via Github of HomeAssistant.

So with the risk of sending you something you're already aware of, all details are available here:

https://github.com/home-assistant/core/issues/49387

In any case, hope this helps you in ironing out this bug.

[2021-04-21 15:08] rdgerken commented on #87
I too have this issue.  I will be happy to help troubleshoot.

[2021-04-22 11:18] Petro31 commented on #63
@jschmer I completely forgot about this.  There's a few upset users on the HA forums, I'll take a look next week.  Sorry!

[2021-04-24 02:22] rdgerken commented on #87
Doing some testing tonight... I get this error output when simply switching to the AirPlay input, and then subsequently query which input is active.  I thought maybe it seemed like it had something to do with how quickly the commands and queries were being sent to the receiver, but I'm not real sure.  I tried putting some sleeps in to see if it would make a difference, but I still get the Invalid

[2021-04-24 11:37] rdgerken commented on #87
OK, so after sleeping on it - I added "time.sleep(3)" after each of the PUT commands (pun intended - I'm a funny guy, what can I say?) to the receiver when changing the inputs, changing the scenes, and enabling the HDMI outputs.  So far, this seems to have band-aided the problem - but I did do full resets on all my gear, so maybe it's a fluke... but it looks promising.  I do notice I get an error

[2021-05-08 22:43] rdgerken commented on #87
After some run time, this workaround is performing very well, in that I have not had the issue at all while using my modified code. I think what happens is, if the receiver is doing a network function (like switching to the Spotify, AirPlay, Network Radio, etc. - it just can't handle dealing with the 3rd party GET requests if they come in right as the receiver is busy with those network activities

[2021-05-10 08:28] Wiggum127 commented on #87
Is there a way for me to test your changes too? Just to see how my integration behaves.

[2021-05-11 22:22] rdgerken commented on #87
I just replaced the rxv.py file on my docker image with my version (located at "/usr/local/lib/python3.8/site-packages/rxv/rxv.py"), but you could try following these instructions from petro [here](https://community.home-assistant.io/t/yamaha-receiver-official-intergration-works-1-2-times-and-then-looses-control-update-problem/245121/20) - and then replace rxv.py with my test version located [here

[2021-05-19 18:51] TECHNOFAB11 opened #88 "Support enhancer and extra bass"
in the AV Receiver app its possible to enable and disable the enhancer and the extra bass option.
It would be great if this was possible with this library (and thus Home Assistant) aswell

[2021-05-28 14:50] FixTheExchange commented on #87
@rdgerken I've been testing this with my Yamaha CX-A5200 for the past few days. Your hunch is close. I think increasing the http_timeout value on line 115 would solve the issue better than adding sleep statements. I haven't tested this yet though.  I don't see a retry variable, but some retry logic may be helpful too.

What I've observed is when the Yamaha receiver (or processor in my case) is try

[2021-05-28 15:10] FixTheExchange commented on #87
Also noticing that my Yamaha CX-A5200 will periodically drop 3 packets when in a standby state (network standby is enabled) for the first few minutes after it enters that state. After a few minutes, it no longer drops any packets while in standby. I did not observe any packet loss when both the CXA-5200 AND the display device connected to it were powered on.  If the display device is powered on BE

[2021-05-28 16:21] rdgerken commented on #87
I added a general exception handler at line 194, and it keeps HA connected when there are communications problems.  I'm far from being out of the woods on this problem though.  I still get very poor performance with this integration.  I almost feel like the problem is on the Yamaha side, but as soon as I say that, their app seems to work flawlessly when I'm not trying to connect to it with HA... s

[2021-05-28 17:36] FixTheExchange commented on #87
The Yamaha AV Controller app for Android (version 5.5) occasionally has issues connecting too, but will generally start working again after a few retries, where HA will only start working if it is restarted.

If you send a bunch of GET requests to "http://<yamaha_ip>/YamahaRemoteControl/desc.xml" either through your browser, or using cURL, you'll notice that sometimes the response takes up to 4 se

[2021-07-17 00:01] rdgerken commented on #87
I finally had some time and motivation to revisit this. I followed your advice, reverted back to the repo code for rxv.py, and put some retry handling in at those 2 locations.  It seems to be working very well! Please try this if you have the problem and let me know your results. Here is the patch (2 places):

    def _discover_features(self):
        """Pull and parse the desc.xml so we can query

[2021-07-17 18:37] rdgerken commented on #87
I thought I'd put an update on this to anyone watching this issue.  I followed "FixTheExchange's" advice, and put some additional error handling and retry logic in on the discover and request methods. This seemed to do what was intended (as in the retry works like it should, and HA doesn't lock up and require reboots anymore), but everything was still running very poorly. It is running poorly beca

[2021-10-06 07:40] blautob opened #89 "Problem with xml via Home Assistant"
There is this thread on the Home Assistant forum  https://community.home-assistant.io/t/yamaha-receiver-official-intergration-works-1-2-times-and-then-looses-control-update-problem/245121/53
 and the relating issue
https://github.com/home-assistant/core/issues/52955#issuecomment-909235276

However we were told that this is a rxv issue...

Maybe you can have a look?
Thanks for all the hard work!

[2021-10-10 13:04] spahlimi commented on #89
I think there are 2 separate Problems:
First there is the deprecated "getchildren"-problem, which has been fixed in commit fb844891da96e3f5d0f1ea4d64640d2bd5cfda4c. But since this fix, there has not been any rxv release, so it has not made it into Home Assistant jet. By manually forcing HA to use rxv Version 0.7.0rc2 this problem disappeares and i can finally listen to netradio again.

The other p

[2021-10-10 13:17] wuub commented on #89
v0.7.0 (non RC version) should now be on pypi, sorry for the delay.

[2021-10-10 13:18] blautob commented on #89
Thanks for the info!

Can you help me how to manually forcing HA to use rxv Version 0.7.0rc2?

[2021-10-10 13:44] spahlimi commented on #89
You can edit /usr/src/homeassistant/homeassistant/components/yamaha/manifest.json inside of your HA-container and then restart HA.

~~@wuub Who is updating this in HA so it will be included in the next HA Release?~~
Nevermind, https://github.com/home-assistant/core/pull/57430

[2021-12-14 22:30] #88 closed, assigned to nobody

[2022-03-01 22:28] iloveicedgreentea opened #91 "Does TTS work? TTS is available but no output happens."
I verified my TTS engine is working via curl but trying to integrate TTS with this media player does not work. Is it supported?

[2022-03-02 02:19] iloveicedgreentea commented on #91
Answering my own question. No, this requires it to support the media type of 'music' or 'audio/mp3' and be able to play that file directly. HA TTS works by sending an actual MP3 to the media player.

I used a chromecast and automation to turn everything on, works as expected.

[2022-03-02 02:19] #91 closed, assigned to nobody

[2022-10-11 20:48] Petro31 commented on #63
@jschmer forgot about this until now 🤦‍♂️, tested.  works.  I'm sure you knew that.

[2022-10-11 20:48] #63 closed

[2022-11-18 20:53] DazWorrall commented on #67
@wuub did you make any progress with your new receiver? I have an RX-A6A myself and have been walking a path of issues leading me here 😅 Similar sorts of issues as above - discovery is broken because `desc.xml` is not quite as expected, but instantiating `rxv.RXV` by hand with `ctrl_url` works and I can control the unit via repl. I would love to help figure out a solution here so I can control the

[2022-11-21 11:39] wuub commented on #67
@DazWorrall I did, by actually using this integration instead https://www.home-assistant.io/integrations/yamaha_musiccast/ because I added more musiccast devices to my home network

[2022-11-21 11:42] DazWorrall commented on #67
I saw that integration and initially disregarded it because it didn't think it could control the source input of the receiver, but I dug deeper and found that it can, so it's good enough for my use case 👍

[2022-11-21 11:51] wuub commented on #67
Yeah, it's actually more feature rich than this library ever was.

For anyone looking, the source selection is in the usual place:

<img width="216" alt="Screenshot 2022-11-21 at 12 50 10" src="https://user-images.githubusercontent.com/588857/203044948-46d1fb32-a07f-4fc1-94be-9dfc0aafe01e.png">